h1 {
  color: #a62426;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0px 20px 8px rgba(255, 100, 100, 0.5);
}

a {
  color: blueviolet;
}

hr {
  color: black;
  margin: 0;
}

h2 {
  color: #a00;
  background-color: #f5f5db;
  font-size: 30px;
  margin: 0;
  padding: 5px 10px;
  font-weight: bold;
}

.b {
  text-transform: uppercase;
  font-weight: bold;
  color: #d08c04;
}

.menu a {
  color: #c61515;
}

.back {
  color: red;
  font-weight: bold;
}

.v {
  color: red;
  font-weight: bold;
}
